html {
	height : 100%;
}

body {
	text-rendering : geometricPrecision;
	margin : 0;
	padding : 0;
	width : 100%;
	height : 100%;
	font-family : sans-serif;
	background : #222;
	color : #f4f4f4;
}

li {
	list-style : none;
	display : inline-block;
}

ul {
	margin : 0;
	padding : 0;
}

a {
	text-decoration : none;
	color : inherit;
	display : block;
	cursor : pointer;
}

p {
	margin : 0;
	padding : 0;
}

h1 {
	margin-top : 0;
}

input {
	width : 100%;
	padding : 12px 8px;
	border : none;
	border-radius : 4px;
	margin : 12px auto;
    width : 100%;
    box-sizing : border-box;
	font-size : 12px;
}

input:focus {
	border : none;
	outline : none;
}

button {
	padding : 12px 8px;
	border : none;
	border-radius : 2px;
	margin : 8px auto;
	width : 100%;
	cursor : pointer;
	font-size : 12px;
	font-weight : 600;
}

button:focus {
	outline : none;
}

section {
	margin : auto;
}
