section {
    margin: auto;
    width: 90%;
    border-bottom: 1px solid #efefef;
	background : white;
	text-align : center;
}

input {
	width : auto;
    display: inline-block;
    padding: 12px 8px;
    border: none;
    margin: 4px 8px;
    box-sizing: border-box;
    font-size: 12px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
	border-radius : 0;
}

input:focus {
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

button {
	max-width : 160px;
}

.err {
	font-size : 12px;
	color : #212121;
	line-height : 24px;
}

.coupon-list {
	width : 100%;
	color : black;
	text-align : left;
}
.coupon-item {
	width : 100%;
}
