.container {
	margin : auto;
	width : 90%;
	text-align : center;
	max-width : 400px;
	position : relative;
	top : 20%;
}

.btn-small {
	width : auto;
	padding : 8px;
}

.err {
	font-size : 12px;
	line-height : 24px;
}
